<div *ngIf="i < filteredSessions.length">
  <br />
  <p class="title">このセッションに興味がある/参加予定ですか？</p>
  <div class="image">
    <img
      [src]="filteredSessions[i].session.image"
      alt="session recommendation"
      id="sessionimage"
    />
  </div>
  <!-- <div class="container">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img
            [src]="filteredSessions[i].session.image"
            alt="session recommendation"
            id="sessionimage"
          />
        </div>
        <mat-card-title>{{
          filteredSessions[this.i].session.title
        }}</mat-card-title>
        <mat-card-subtitle>{{
          filteredSessions[this.i].session.businessArea
        }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          filteredSessions[this.i].session.category
        }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          filteredSessions[this.i].session.location
        }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div> -->
  <div class="interest">
    <div class="left">
      <button
        class="join"
        id="btnj"
        [disabled]="clicked"
        (click)="like(); timeOut()"
      >
        ✓
      </button>
    </div>
    <div class="left">
      <button
        class="join"
        id="btnj"
        [disabled]="clicked"
        (click)="dislike(); timeOut()"
      >
        ×
      </button>
    </div>
  </div>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.4.1.min.js"
  ></script>
  <script type="text/javascript" src="recommend.js"></script>
</div>

<div *ngIf="i == filteredSessions.length">
  <br />
  <!-- <p *ngIf="likes.length == 0" class="title">
    You didn't like any of the events yet.
  </p> -->
  <div *ngIf="likes.length > 0">
    <p class="title">
      あなたが興味がある/参加予定だと選択したセッションはこちらです。
    </p>
    <div class="image" *ngFor="let item of newinterest">
      <img [src]="item.image" alt="interested session" id="sessionimage" />
    </div>
    <!-- <mat-card *ngFor="let item of newinterest" class="container">
      <div class="image">
        <img [src]="item.image" alt="interested session" id="sessionimage" />
      </div>
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.businessArea }}</mat-card-subtitle>
        <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
        <mat-card-subtitle>{{ item.location }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card> -->
  </div>
</div>
