<div *ngIf="i < filteredSessions.length">
  <br />
  <p style="text-align: center; font-size: 20px">
    Are you interested / planning to join this event?
  </p>
  <!-- <div class="image">
    <img [src]="images[i]" alt="session recommendation" id="sessionimage" />
  </div> -->
  <div class="container">
    <mat-card>
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{
          filteredSessions[this.i].session.title
        }}</mat-card-title>
        <!-- <mat-card-subtitle>{{
          filteredSessions[this.i].session.business-area
        }}</mat-card-subtitle> -->
        <mat-card-subtitle>{{
          filteredSessions[this.i].session.category
        }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          filteredSessions[this.i].session.location
        }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div style="margin-left: 30%">
    <div class="left">
      <button class="join" id="btnj" (click)="like()">✓</button>
    </div>
    <div class="left">
      <button class="join" id="btnj" (click)="dislike()">×</button>
    </div>
  </div>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.4.1.min.js"
  ></script>
  <script type="text/javascript" src="recommend.js"></script>
</div>

<div *ngIf="i == filteredSessions.length">
  <br />
  <p *ngIf="likes.length == 0" style="text-align: center; font-size: 20px">
    You didn't like any of the events yet.
  </p>
  <div *ngIf="likes.length > 0">
    <p style="text-align: center; font-size: 20px">
      Here are the events that you liked:
    </p>
    <mat-card *ngFor="let item of likes" class="container">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <!-- <mat-card-subtitle>{{
          filteredSessions[this.i].session.business-area
        }}</mat-card-subtitle> -->
        <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
        <mat-card-subtitle>{{ item.location }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
