<div *ngIf="i < filteredSessions.length">
  <br />
  <p class="title">Are you interested / planning to join this event?</p>
  <!-- <div class="image">
      <img [src]="images[i]" alt="session recommendation" id="sessionimage" />
    </div> -->
  <div class="container">
    <mat-card>
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{
          filteredSessions[this.i].session.title
        }}</mat-card-title>
        <mat-card-subtitle>{{
          filteredSessions[this.i].session.businessArea
        }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          filteredSessions[this.i].session.category
        }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          filteredSessions[this.i].session.location
        }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="interest">
    <div class="left">
      <button class="join" id="btnj" (click)="like()">✓</button>
    </div>
    <div class="left">
      <button class="join" id="btnj" (click)="dislike()">×</button>
    </div>
  </div>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.4.1.min.js"
  ></script>
  <script type="text/javascript" src="recommend.js"></script>
</div>

<div *ngIf="i == filteredSessions.length">
  <br />
  <p *ngIf="likes.length == 0" class="title">
    You didn't like any of the events yet.
  </p>
  <div *ngIf="likes.length > 0">
    <p class="title">Here are the events that you liked:</p>
    <mat-card *ngFor="let item of user.interest" class="container">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.businessArea }}</mat-card-subtitle>
        <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
        <mat-card-subtitle>{{ item.location }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
